In [19]:
import pandas as pd
import glob
import os
# import re
# remove warnings
import warnings
warnings.filterwarnings('ignore')

In [20]:
df_stocks_days = pd.read_csv(".data/tab2/aggregated_stocks_values_days.csv")
brands_list = df_stocks_days["Brand Name"].unique()
brands_list.sort()

FileNotFoundError: [Errno 2] No such file or directory: '.data/tab2/aggregated_stocks_values_days.csv'

In [3]:
brands_list

array(['Airbnb', 'Apple', 'Coca-Cola', 'HM', 'Nike', 'Pepsi', 'Starbucks'],
      dtype=object)

In [21]:
path = r'data\tab2\stocktwits' # use your path
files = glob.glob(os.path.join(path , "*.csv"))
files

[]

In [5]:
brands_files = [str.split(str.rsplit(i, sep="\\", maxsplit=1)[1], sep="_", maxsplit=1)[1] for i in files]
brands = [*set(brands_files)]
brands

['HNNMY.csv',
 'ABNB.csv',
 'PEP.csv',
 'KO.csv',
 'AAPL.csv',
 'SBUX.csv',
 'NKE.csv']

In [6]:
df_aggregate = pd.DataFrame()
for i in files:
    df_file = pd.read_csv(i, sep=";")
    df_file["brand"] = str.split(str.rsplit(i, sep="\\", maxsplit=1)[1], sep="_", maxsplit=1)[1]
    df_file["brand"] = df_file["brand"].str[0:-4]
    df_aggregate = pd.concat([df_aggregate, df_file], axis=0)

In [7]:
df_aggregate["date"] = pd.to_datetime(df_aggregate["date"])
df_aggregate["date"] = df_aggregate["date"].dt.date
df_aggregate

,date,trend,replies,likes,caption,brand
0,2021-03-02,NaN,1,3,$PLTR $AAPL what a waste of time today...,AAPL
1,2021-03-02,NaN,3,2,$AAPL hoping to get above 130 by Friday! Is th...,AAPL
2,2021-03-02,Bearish,0,0,SmartOptions® Unusual Activity Alert\n(Delayed...,AAPL
3,2021-03-02,Bullish,2,12,More paper hand shake outs on no news. Vaccine...,AAPL
4,2021-03-02,NaN,1,4,$AAPL AND.....this is what we call a bear trap...,AAPL
...,...,...,...,...,...,...
11051,2020-05-28,NaN,0,1,$SBUX 80 EOW,SBUX
11052,2020-05-28,NaN,0,0,"$SBUX can’t lie, this one is a bit scary becau...",SBUX
11053,2020-05-28,Bullish,2,4,$SBUX get ready to get punished bears 😹😹😹😹😹😹😹😹...,SBUX
11054,2020-05-28,NaN,3,4,$SBUX ☕️,SBUX
11055,2020-05-27,NaN,0,1,"Free video with setups for May 28 ""The New No...",SBUX

In [8]:
brand_abrev = df_aggregate["brand"].unique()

In [9]:
brand_abrev = {'AAPL' : "Apple", 'ABNB' : "Airbnb", 'HNNMY':"HM", 'KO':"Coca-Cola", 'NKE':"Nike", 'PEP':"Pepsi", 'SBUX':"Starbucks"}
brand_abrev

{'AAPL': 'Apple',
 'ABNB': 'Airbnb',
 'HNNMY': 'HM',
 'KO': 'Coca-Cola',
 'NKE': 'Nike',
 'PEP': 'Pepsi',
 'SBUX': 'Starbucks'}

In [22]:
df_aggregate["brand"] = df_aggregate["brand"].map(brand_abrev)

In [13]:
# Map Bullish and Bearish to 1 and 0
# df_aggregate["trend"] = df_aggregate["trend"].map({"Bullish": 1, "Bearish": 0})
# df_aggregate

,date,trend,replies,likes,caption,brand
0,2021-03-02,NaN,1,3,$PLTR $AAPL what a waste of time today...,Apple
1,2021-03-02,NaN,3,2,$AAPL hoping to get above 130 by Friday! Is th...,Apple
2,2021-03-02,0.0,0,0,SmartOptions® Unusual Activity Alert\n(Delayed...,Apple
3,2021-03-02,1.0,2,12,More paper hand shake outs on no news. Vaccine...,Apple
4,2021-03-02,NaN,1,4,$AAPL AND.....this is what we call a bear trap...,Apple
...,...,...,...,...,...,...
11051,2020-05-28,NaN,0,1,$SBUX 80 EOW,Starbucks
11052,2020-05-28,NaN,0,0,"$SBUX can’t lie, this one is a bit scary becau...",Starbucks
11053,2020-05-28,1.0,2,4,$SBUX get ready to get punished bears 😹😹😹😹😹😹😹😹...,Starbucks
11054,2020-05-28,NaN,3,4,$SBUX ☕️,Starbucks
11055,2020-05-27,NaN,0,1,"Free video with setups for May 28 ""The New No...",Starbucks

In [14]:
df_aggregate["date"] = pd.to_datetime(df_aggregate["date"])

KeyError: 'date'

In [15]:
df_dates = df_aggregate[["date","brand"]].groupby(["brand"]).agg(["min","max"])
# add the multiindex level 0 to the columns names and drop it
df_dates.columns = df_dates.columns.get_level_values(0) + "_" + df_dates.columns.get_level_values(1)+ "_stocktwits"

In [17]:
df_dates

          date_min_stocktwits date_max_stocktwits
brand
Airbnb             2020-12-22          2021-04-13
Apple              2021-02-25          2021-03-02
Coca-Cola          2020-05-27          2021-03-01
HM                 2018-03-02          2021-04-08
Nike               2020-04-09          2021-04-25
Pepsi              2018-07-12          2021-03-01
Starbucks          2020-05-27          2021-03-01

In [10]:
# Remove Pepsi
df_aggregate = df_aggregate[df_aggregate["brand"] != "Pepsi"]

In [11]:
df_aggregate.rename(columns={"date": "Date"}, inplace=True)

In [16]:
df_aggregate["Date"] = pd.to_datetime(df_aggregate["Date"])
df_aggregate

,Date,trend,replies,likes,caption,brand
0,2021-03-02,NaN,1,3,$PLTR $AAPL what a waste of time today...,AAPL
1,2021-03-02,NaN,3,2,$AAPL hoping to get above 130 by Friday! Is th...,AAPL
2,2021-03-02,Bearish,0,0,SmartOptions® Unusual Activity Alert\n(Delayed...,AAPL
3,2021-03-02,Bullish,2,12,More paper hand shake outs on no news. Vaccine...,AAPL
4,2021-03-02,NaN,1,4,$AAPL AND.....this is what we call a bear trap...,AAPL
...,...,...,...,...,...,...
11051,2020-05-28,NaN,0,1,$SBUX 80 EOW,SBUX
11052,2020-05-28,NaN,0,0,"$SBUX can’t lie, this one is a bit scary becau...",SBUX
11053,2020-05-28,Bullish,2,4,$SBUX get ready to get punished bears 😹😹😹😹😹😹😹😹...,SBUX
11054,2020-05-28,NaN,3,4,$SBUX ☕️,SBUX
11055,2020-05-27,NaN,0,1,"Free video with setups for May 28 ""The New No...",SBUX

In [17]:
# Filter the data to only include the dates after 2019-07-01
df_aggregate = df_aggregate[df_aggregate["Date"] >= "2019-07-01"]

In [26]:
df_aggregate.to_csv("data/tab2/aggregated_stocktwits.csv", index=False)

### Get overall, daily and weekly trends

In [31]:
df_aggregate = pd.read_csv("../tab2/aggregated_stocktwits.csv")

In [32]:
df_aggregate["bullish"] = (df_aggregate["trend"] == "Bullish").astype(int)
df_aggregate["bearish"] = (df_aggregate["trend"] == "Bearish").astype(int)
df_aggregate

,Date,trend,replies,likes,caption,brand,bullish,bearish
0,2021-03-02,NaN,1,3,$PLTR $AAPL what a waste of time today...,Apple,0,0
1,2021-03-02,NaN,3,2,$AAPL hoping to get above 130 by Friday! Is th...,Apple,0,0
2,2021-03-02,Bearish,0,0,SmartOptions® Unusual Activity Alert\n(Delayed...,Apple,0,1
3,2021-03-02,Bullish,2,12,More paper hand shake outs on no news. Vaccine...,Apple,1,0
4,2021-03-02,NaN,1,4,$AAPL AND.....this is what we call a bear trap...,Apple,0,0
...,...,...,...,...,...,...,...,...
60826,2020-05-28,NaN,0,1,$SBUX 80 EOW,Starbucks,0,0
60827,2020-05-28,NaN,0,0,"$SBUX can’t lie, this one is a bit scary becau...",Starbucks,0,0
60828,2020-05-28,Bullish,2,4,$SBUX get ready to get punished bears 😹😹😹😹😹😹😹😹...,Starbucks,1,0
60829,2020-05-28,NaN,3,4,$SBUX ☕️,Starbucks,0,0
60830,2020-05-27,NaN,0,1,"Free video with setups for May 28 ""The New No...",Starbucks,0,0

In [ ]:
# df_stocktwits_overall = df_aggregate[["brand","trend","Date"]].groupby(["brand","trend"]).count().reset_index()
# df_stocktwits_overall.to_csv("data/tab2/stocktwits_overall.csv", index=False)
# df_stocktwits_overall

In [44]:
df_stocktwits_daily = df_aggregate[["brand","bullish","bearish","Date"]].groupby(["brand","Date"]).sum().reset_index()
df_stocktwits_daily["polarity"] = (df_stocktwits_daily["bullish"] - df_stocktwits_daily["bearish"])/(df_stocktwits_daily["bullish"] + df_stocktwits_daily["bearish"])
df_stocktwits_daily = df_stocktwits_daily.dropna()
df_stocktwits_daily["polarity"] = df_stocktwits_daily["polarity"].round(2)
df_stocktwits_daily

          brand       Date  bullish  bearish  polarity
0        Airbnb 2020-12-22       39       14      0.47
1        Airbnb 2020-12-23       59       19      0.51
2        Airbnb 2020-12-24       23       13      0.28
3        Airbnb 2020-12-25        8        6      0.14
4        Airbnb 2020-12-26        8        4      0.33
...         ...        ...      ...      ...       ...
1765  Starbucks 2021-02-25        9        0      1.00
1766  Starbucks 2021-02-26       41        2      0.91
1767  Starbucks 2021-02-27        3        1      0.50
1768  Starbucks 2021-02-28        3        0      1.00
1769  Starbucks 2021-03-01       38        2      0.90

[1500 rows x 5 columns]

In [46]:
# df_stocktwits_daily = df_aggregate[["Date","brand","trend"]].groupby(["brand","Date"]).mean().reset_index()
# df_stocktwits_daily.fillna(0.5,inplace = True)
df_stocktwits_daily.to_csv("data/tab2/stocktwits_daily.csv", index=False)

In [35]:
df_aggregate["Date"] = pd.to_datetime(df_aggregate["Date"])
df_aggregate["week"] = df_aggregate["Date"].dt.isocalendar().week
df_aggregate["year"] = df_aggregate["Date"].dt.year
df_aggregate["week_year"] = df_aggregate["year"].astype(str) + "-" + df_aggregate["week"].astype(str)
df_aggregate["week_year"].replace({"2019-1": "2020-1","2021-53" : "2020-53"}, inplace=True)

In [6]:
df_stocks_weeks = pd.read_csv("data/tab2/aggregated_stocks_values_weeks.csv")
df_stocks_weeks["Date_64"] = pd.to_datetime(df_stocks_weeks["Date"])
df_stocks_weeks["week"] = df_stocks_weeks["Date_64"].dt.isocalendar().week
df_stocks_weeks["year"] = df_stocks_weeks["Date_64"].dt.year
df_stocks_weeks["week_year"] = df_stocks_weeks["year"].astype(str) + "-" + df_stocks_weeks["week"].astype(str)
df_stocks_weeks["week_year"].replace({"2019-1": "2020-1", "2021-53" : "2020-53"}, inplace=True)

In [6]:
# df_aggregate["Date"] = pd.to_datetime(df_aggregate["Date"])
# df_aggregate["week_year"] = df_aggregate["Date"].dt.strftime("%Y-%U")
# df_stocks_weeks["Date_64"] = df_stocks_weeks["Date"].astype("datetime64")
# df_stocks_weeks["week_year"] = df_stocks_weeks["Date_64"].dt.strftime("%Y-%U")

# # Replace the invalid week
# df_stocks_weeks["week_year"].replace({"2021-00": "2020-52"}, inplace=True)
# df_aggregate["week_year"].replace({"2021-00": "2020-52"}, inplace=True)

In [16]:
df_aggregate["date_week"] = df_aggregate["week_year"].replace(df_stocks_weeks["week_year"].values, df_stocks_weeks["Date"].values)
df_aggregate
df_stocktwits_weekly = df_aggregate[["brand","bullish","bearish","date_week"]].groupby(["brand","date_week"]).sum().reset_index()
df_stocktwits_weekly["polarity"] = (df_stocktwits_weekly["bullish"] - df_stocktwits_weekly["bearish"])/(df_stocktwits_weekly["bullish"] + df_stocktwits_weekly["bearish"])
df_stocktwits_weekly = df_stocktwits_weekly.dropna()
df_stocktwits_weekly["polarity"] = (df_stocktwits_weekly["polarity"]*100).round(2)
df_stocktwits_weekly.rename(columns={"date_week": "Date"}, inplace=True)
df_stocktwits_weekly

         brand        Date  bullish  bearish  polarity
0       Airbnb  2020-12-21      146       56     44.55
1       Airbnb  2020-12-28      149       86     26.81
2       Airbnb  2021-01-04      199      126     22.46
3       Airbnb  2021-01-11      315      163     31.80
4       Airbnb  2021-01-18      241       82     49.23
..         ...         ...      ...      ...       ...
300  Starbucks  2021-02-01      116       30     58.90
301  Starbucks  2021-02-08       78        9     79.31
302  Starbucks  2021-02-15       41        4     82.22
303  Starbucks  2021-02-22      100        3     94.17
304  Starbucks  2021-03-01       38        2     90.00

[251 rows x 5 columns]

In [17]:
df_stocktwits_weekly.to_csv("data/tab2/stocktwits_weekly.csv", index=False)

In [40]:
df_aggregate["year_month"] = df_aggregate["Date"].dt.strftime("%Y-%m")
df_aggregate
df_stocktwits_monthly = df_aggregate[["brand","bullish","bearish","year_month"]].groupby(["brand","year_month"]).sum().reset_index()
df_stocktwits_monthly["polarity"] = (df_stocktwits_monthly["bullish"] - df_stocktwits_monthly["bearish"])/(df_stocktwits_monthly["bullish"] + df_stocktwits_monthly["bearish"])
df_stocktwits_monthly = df_stocktwits_monthly.dropna()
df_stocktwits_monthly["polarity"] = (df_stocktwits_monthly["polarity"]*100).round(2)
df_stocktwits_monthly.rename(columns={"year_month": "Date"}, inplace=True)
df_stocktwits_monthly

        brand     Date  bullish  bearish  polarity
0      Airbnb  2020-12      285      137     35.07
1      Airbnb  2021-01     1000      422     40.65
2      Airbnb  2021-02      956      178     68.61
3      Airbnb  2021-03     1086      137     77.60
4      Airbnb  2021-04      243       20     84.79
..        ...      ...      ...      ...       ...
80  Starbucks  2020-11      234       63     57.58
81  Starbucks  2020-12      499       42     84.47
82  Starbucks  2021-01      421       55     76.89
83  Starbucks  2021-02      335       46     75.85
84  Starbucks  2021-03       38        2     90.00

[69 rows x 5 columns]

In [41]:
df_stocktwits_monthly.to_csv("../tab2/stocktwits_monthly.csv", index=False)

### Get daily, weekly stocktwits count

In [72]:
df_stocks_weeks = pd.read_csv("data/tab2/aggregated_stocks_values_weeks.csv")
df_aggregate = pd.read_csv("data/tab2/aggregated_stocktwits.csv")

In [76]:
df_stocktwits_daily_count = df_aggregate[["Date","brand","replies"]].groupby(["brand","Date"]).count().reset_index()
df_stocktwits_daily_count.rename(columns={"replies":"stocktwits_count"}, inplace=True)
df_stocktwits_daily_count.to_csv("data/tab2/stocktwits_daily_count.csv", index=False)
df_stocktwits_daily_count

          brand        Date  stocktwits_count
0        Airbnb  2020-12-22                97
1        Airbnb  2020-12-23               125
2        Airbnb  2020-12-24                75
3        Airbnb  2020-12-25                18
4        Airbnb  2020-12-26                23
...         ...         ...               ...
1157  Starbucks  2021-02-25                28
1158  Starbucks  2021-02-26               117
1159  Starbucks  2021-02-27                27
1160  Starbucks  2021-02-28                14
1161  Starbucks  2021-03-01                99

[1162 rows x 3 columns]

In [90]:
df_stocktwits_daily_count["stocktwits_count"].sum()

52759

In [77]:
df_stocktwits_daily_count["Date"] = pd.to_datetime(df_stocktwits_daily_count["Date"])
df_stocktwits_daily_count["week"] = df_stocktwits_daily_count["Date"].dt.isocalendar().week
df_stocktwits_daily_count["year"] = df_stocktwits_daily_count["Date"].dt.year
df_stocktwits_daily_count["week_year"] = df_stocktwits_daily_count["year"].astype(str) + "-" + df_stocktwits_daily_count["week"].astype(str)
df_stocktwits_daily_count["week_year"].replace({"2019-1": "2020-1","2021-53" : "2020-53"}, inplace=True)

In [78]:
df_stocks_weeks = pd.read_csv("data/tab2/aggregated_stocks_values_weeks.csv")
df_stocks_weeks["Date_64"] = pd.to_datetime(df_stocks_weeks["Date"])
df_stocks_weeks["week"] = df_stocks_weeks["Date_64"].dt.isocalendar().week
df_stocks_weeks["year"] = df_stocks_weeks["Date_64"].dt.year
df_stocks_weeks["week_year"] = df_stocks_weeks["year"].astype(str) + "-" + df_stocks_weeks["week"].astype(str)
df_stocks_weeks["week_year"].replace({"2019-1": "2020-1", "2021-53" : "2020-53"}, inplace=True)

In [14]:
# df_aggregate["Date"] = pd.to_datetime(df_aggregate["Date"])
# df_aggregate["week_year"] = df_aggregate["Date"].dt.strftime("%Y-%U")
# df_stocks_weeks["Date_64"] = df_stocks_weeks["Date"].astype("datetime64")
# df_stocks_weeks["week_year"] = df_stocks_weeks["Date_64"].dt.strftime("%Y-%U")

# # Replace the invalid week
# df_stocks_weeks["week_year"].replace({"2021-00": "2020-52"}, inplace=True)
# df_aggregate["week_year"].replace({"2021-00": "2020-52"}, inplace=True)

In [92]:
df_stocktwits_daily_count["date_week"] = df_stocktwits_daily_count["week_year"].replace(df_stocks_weeks["week_year"].values, df_stocks_weeks["Date"].values)
df_stocktwits_weekly = df_stocktwits_daily_count[["brand","date_week","stocktwits_count"]].groupby(["brand", "date_week"]).sum().reset_index()
df_stocktwits_weekly.rename(columns={"date_week":"Date", "replies":"stocktwits_count"}, inplace=True)
df_stocktwits_weekly.to_csv("data/tab2/stocktwits_weekly_count.csv", index=False)